

.graduaat-programmeren-logo{
    width: 200px;
    margin: 10px 25px 10px 10px;
    float: right
}
.slagerij-jelle-logo{
    width: 200px;
    margin: 10px 25px 10px 10px;
    float: right
}
.rembert-torhout-logo{
    width: 200px;
    margin: 10px 25px 10px 10px;
    float: right
}
.rocketLeague-home-pagina{
   
    margin: 10px 25px 10px 10px;
    width: 1200px
} 
.winkel-slagerij-jelle{
    width: 800px;
    margin: 10px 25px 10px 10px;
}
.binnenkant-slagerij-jelle{
    width: 800px;
    margin: 10px 25px 10px 10px;
}