body{
    margin: 10px 150px 50px 150px;
    background-color: rgb(12, 22, 79, 0.50);
}

div {
 
    overflow: hidden;

    color: rgb(252, 251, 254);
    border: 1px rgb(12, 22, 79);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
    margin-bottom: 20px;
    padding: 5px 10px 15px 20px;
    background-color: rgb(12, 22, 79);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
}
header{
    position: sticky;
    top: 60px;
}


nav {
    background-color: rgb(40, 91, 95);
    padding: 10px;
    position: sticky;
    top: 10px;
    margin-bottom: 10px;
    
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ff7f50;
}
.title {
    display: inline;
    min-width: 100px;
    padding: 10px;
    display: block;
    text-align: center;
    overflow: hidden;
}
.profielfoto{
    float: left;
    width: 100px;
    margin: 10px 25px 10px 10px;
   
}
