.grandchamp2{
    width: 200px;
    margin: 10px 25px 10px 10px;
    float: right
}
.panthera{
    width: 200px;
    margin: 10px 25px 10px 10px;
    float: right
}
.rlcsworlds{
  width: 600px;
  margin: 10px 25px 10px 10px;
}